<!-- PAGE TITLE Area
  =========================== -->
<section class="page-title fix">
    <div class="container bb-bottom">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-content">
                    <h2 class="page-title">404 Error</h2>
                    <span class="sub-title">Wrong link or wrong page!</span>
                </div>
                <div class="bread-cumb">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">404</a></li>
                    </ul>
                </div>
                <!-- /.END OF BREAD CUMB -->
            </div>
        </div>
    </div>
</section>
<!--  -->


<!-- 404 Content -->
<section class="dissapp-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center fix">
                <h1 class="fourzerofour">404</h1>
                <h2 class="error">Error</h2>
                <h3 class="err-mess">we are not finding what you are looking for!</h3>

                <!-- Search Box -->
                <div class="dissapp-search-box">
                    <label for="search">Please try searching here</label>
                    <div class="search-form fix">
                        <form action="search.php">
                            <input type="text" name="s" placeholder="Type to search">
                            <div class="input-submit">
                                <input type="submit" value="Go">
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.End Of Search Box -->
                <span class="gohome">or  <a href="index.html">Go back to Home</a></span>
            </div>
        </div>
    </div>
</section>
<!-- /.End Of 404 Content -->
