<!-- PAGE TITLE Area
      =========================== -->
    <section class="page-title fix">
        <div class="container bb-bottom">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title-content">
                        <h2 class="page-title">About us</h2>
                        <span class="sub-title">learn more about us</span>
                    </div>
                    <div class="bread-cumb">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                        </ul>
                    </div>
                    <!-- /.END OF BREAD CUMB -->
                </div>
            </div>
        </div>
    </section>
    <!--  -->

    <!-- Galley Post Area
        =========================== -->
    <div class="about-gallery-posts">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="about-gallery">
                        <div class="gallery-wrap">

                            <!-- Single Gallery -->
                            <div class="sin-gallery">
                                <img src="img/gallery/img-01.jpg" alt="">
                            </div>
                            <!-- /.End Of Single Gallery -->

                            <!-- Single Gallery -->
                            <div class="sin-gallery">
                                <img src="img/gallery/img-02.jpg" alt="">
                            </div>
                            <!-- /.End Of Single Gallery -->

                            <!-- Single Gallery -->
                            <div class="sin-gallery">
                                <img src="img/gallery/img-03.jpg" alt="">
                            </div>
                            <!-- /.End Of Single Gallery -->

                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="about-content">
                        <p>The Ladders Inc, a  Technological Software Solutions Company,  built on proven methodologies which not just lives up but exceed client’s expectations.</p>

                        <p>Our Prime Mission is to become a valuable contributor to your business by efficiently offering you reliable, superior and tailored software solutions at a cost-effective price.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.End Of Galley Post Area -->

    <!-- What WeDo Area
        =========================== -->
    <div class="whatDo-area section-padding">
        <div class="container">
            <div class="row">

                <!-- Single Work -->
                <div class="col-sm-6">
                    <div class="sin-whatWork">
                        <h2>What we do?</h2>
                        <p>We offer exceptional performance and value in all our software products and web services without sacrificing quality. It’s our assurance that you get high quality services that would be unique and puts you on top of your competitors.</p>
                    </div>
                </div>
                <!-- /.End Of Single Work -->

                <!-- Single Work -->
                <div class="col-sm-6">
                    <div class="sin-whatWork">
                        <h2>Our mission</h2>
                        <p>Our core mission is to provide top-class services in software development including analysis, design, implementation, testing, maintenance and customization, project planning, project management, using cutting-edge technologies, robust development tools and client-oriented approaches.</p>
                    </div>
                </div>
                <!-- /.End Of Single Work -->

                <!-- Single Work -->
                <!-- <div class="col-sm-4">
                    <div class="sin-whatWork">
                        <h2>Our goal</h2>
                        <p>Our goal is to define a new dimension of quality in software development. That is why, the logo of ArtSoft Consult is “the art of software development“, which in business language means “quality beyond the expectations of the customer“. </p>
                    </div>
                </div> -->
                <!-- /.End Of Single Work -->

            </div>
        </div>
    </div>
    <!-- /.What WeDo Area -->
