<!-- PAGE TITLE Area
    =========================== -->
  <section class="page-title fix">
      <div class="container bb-bottom">
          <div class="row">
              <div class="col-md-12">
                  <div class="page-title-content">
                      <h2 class="page-title">Apply for jobs</h2>
                      <span class="sub-title">Know more about open positions</span>
                  </div>
                  <div class="bread-cumb">
                      <ul>
                          <li><a href="#">Home</a></li>
                          <li><a href="#">Quote</a></li>
                      </ul>
                  </div>
                  <!-- /.END OF BREAD CUMB -->
              </div>
          </div>
      </div>
  </section>
  <!--  -->

  <div class="upper-page-content">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <p>Working with us means you would be a part of high performance team where every day you will exchange ideas and make products which are easy and provides business solutions to our clients.
Push the boundaries of technology and explore unlimited possibilities. </p>
              </div>
          </div>
      </div>
  </div>


  <!-- Contact Area
    =========================== -->
  <div class="contact-area">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <form action="contact.php">
                      <div class="contact-form">
                          <div class="single-form">
                              <div class="sin-input">
                                  <input type="text" name="username" placeholder="Your name *">
                              </div>
                              <div class="sin-input">
                                  <input type="email" name="useremail" placeholder="Email address *">
                              </div>
                          </div>
                          <div class="single-form">
                              <div class="sin-input">
                                  <input type="text" name="usernumber" placeholder="Phone Number *">
                              </div>
                              <div class="sin-input select-box">
                                  <select name="usercountry">
                                      <option value="">Country</option>
                                      <option value="1">Bangladesh</option>
                                      <option value="2">Usa</option>
                                      <option value="3">England</option>
                                      <option value="3">Australia</option>
                                  </select>
                              </div>
                          </div>
                          <!-- <div class="single-form">
                              <div class="sin-input select-box select-topic">
                                  <select name="topic">
                                      <option value="">Select your project topic</option>
                                      <option value="1">Ami Janina</option>
                                      <option value="2">Se Janena</option>
                                      <option value="3">Tara Janena</option>
                                      <option value="3">Kew Janena</option>
                                  </select>
                              </div>
                          </div> -->
                          <div class="single-form">
                              <span class="btn btn-default btn-file"><span></span><input type="file" /></span>
                              <!-- <span class="fileinput-filename"></span> -->
                          </div>
                          <div class="single-form text-area">
                              <textarea name="message" rows="4" placeholder="Type your message"></textarea>
                              <input type="submit" value="Upload">
                          </div>
                      </div>
                  </form>
              </div>
              <div class="col-md-6">
                  <div class="quote-thumb">
                      <img src="img/quote-thumb.jpg" alt="">
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- /.End Of Contact Area -->
