<!-- PAGE TITLE Area
    =========================== -->
  <section class="page-title fix">
      <div class="container bb-bottom">
          <div class="row">
              <div class="col-md-12">
                  <div class="page-title-content">
                      <h2 class="page-title">Contact us</h2>
                      <span class="sub-title">Get in touch with us anytime</span>
                  </div>
                  <div class="bread-cumb">
                      <ul>
                          <li><a href="#">Home</a></li>
                          <li><a href="#">Contact</a></li>
                      </ul>
                  </div>
                  <!-- /.END OF BREAD CUMB -->
              </div>
          </div>
      </div>
  </section>
  <!--  -->

  <div class="upper-page-content">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <p>
                    Submit your Enquiry using form below:
                  </p>
              </div>
          </div>
      </div>
  </div>


  <!-- Contact Area
    =========================== -->
  <section class="contact-area fix">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <form id="ajax-contact" action="mail.php" method="post">
                      <div class="contact-form">
                          <div class="single-form">
                              <div class="sin-input">
                                  <input id="name" type="text" name="name" placeholder="Your name *">
                              </div>
                              <div class="sin-input">
                                  <input id="email" type="email" name="email" placeholder="Email address *">
                              </div>
                          </div>
                          <div class="single-form">
                              <div class="sin-input">
                                  <input type="text" id="phoneNo" name="phoneNo" placeholder="Phone Number *">
                              </div>
                              <div class="sin-input select-box">
                                  <select name="usercountry">
                                      <option value="">Country</option>
                                      <option value="1">Bangladesh</option>
                                      <option value="2">Usa</option>
                                      <option value="3">England</option>
                                      <option value="3">Australia</option>
                                  </select>
                              </div>
                          </div>
                          <div class="single-form contactSubmit text-area">
                              <textarea id="contactMsg" name="contactMsg" rows="4" placeholder="Type your message"></textarea>
                              <input type="submit" id="submit" name="submit" value="Send us message">
                          </div>
                      </div>
                      <div id="form-messages"></div>
                  </form>
              </div>
              <div class="col-md-6">
                  <div class="contact-info">
                      <div class="single-info phone-number">
                          <h4>Call us</h4>
                          <p class="info">USA: <span>+1 551 268 7570</span></p>
                          <!-- <p class="info">Non- USA: <span>+ 021-5432-145</span></p> -->
                      </div>

                      <div class="single-info useremail-add">
                          <h4>EMAIL</h4>
                          <!-- <p class="info">Product support: <span>product@theladdersinc.com</span></p> -->
                          <p class="info">Support: <span>support@theladdersinc.com</span></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- /.End Of Contact Area -->

  <!-- GOOGLE MAP -->
  <div id="googleMap2"></div>
