<section class="slider-area">

      <div class="Modern-Slider">

          <!-- Item -->
          <div class="item">
              <div class="img-fill">
                  <img src="img/slides/img-01.jpg" alt="">
                  <div class="slider-text overlay">
                      <div class="tb">
                          <div class="tbc">
                              <div class="container text-left rs-padding ">
                                  <!-- <div class="col-md-12"> -->
                                  <div class="col-md-offset-5 col-md-7">
                                      <h1>Experienced<span> employees for</span> your service</h1>
                                      <!-- <p>Confused with complex templates? We are here to help you. Now create
                                          <br>your amazing website for your lovely company.</p> -->
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- // Item -->

          <!-- Item -->
          <div class="item">
              <div class="img-fill">
                  <img src="img/slides/img-02.jpg" alt="">
                  <div class="slider-text overlay">
                      <div class="tb">
                          <div class="tbc">
                              <div class="container text-left rs-padding ">
                                  <!-- <div class="col-md-offset-5 col-md-7">
                                      <h1>CReate your <span>company website </span>in minutes</h1>
                                      <p>Confused with complex templates? We are here to help you. Now create
                                          <br>your amazing website for your lovely company.</p>
                                  </div> -->
                                  <div class="col-md-offset-5 col-md-7">
                                      <h1>We help you to grow<span> your business</span></h1>
                                      <!-- <p>Confused with complex templates? We are here to help you. Now create
                                          <br>your amazing website for your lovely company.</p> -->
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- // Item -->

      </div>

  </section>


<!-- About Us Area
      =========================== -->
  <section class="about-area section-padding">
      <div class="container">


          <div class="col-md-4">
              <div class="about-left">
                  <h2>We have <strong>decades of experience</strong> in
                    Software Development & Testing</h2>
                  <figure class="about-thumb">
                      <img src="img/about-thumb.jpg" alt="" class="img-responsive">
                      <figcaption>
                          “Let's start project with talented people.”
                      </figcaption>
                  </figure>
              </div>
          </div>
          <div class="col-md-7 col-md-offset-1">
              <div class="about-quote">
                  <!-- <blockquote>
                      Duis autem vel eum iriure dolor in hendrerit in vulputate <strong>velit esse molestie</strong> consequat, vel illum dolore eu feugiat nulla <a href="" class="link-out">facilisis at vero</a> eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                      <br>
                      <br> Mirum est notare quam littera gothica, quam nunc putamus parum claram, antepos uerit litterarum formas humanitatis per seacula quarta.
                  </blockquote> -->
                  <blockquote>
                    We a  Technological Software Company Engaged Development Team have expertise in assorted areas to meet your needs which include Application Development, Mobile Application Development, Big Data, Cloud Computing,  Digital Marketing, Business Consulting, Maintenance and Support, QA & Testing etc. IT Services developed in TheLaddersinc ensures to meet all your Industrial requirements.<br> Applications developed and Solutions provided by Technology and Domain Experts Services are of high quality and Cost effective ensuring swift growth of your industry.
                  </blockquote>
              </div>
          </div>
          <div class="whatDo-area">
              <!-- <div class="container"> -->
                  <div class="row">

                      <!-- Single Work -->
                      <div class="col-sm-12">
                          <div class="sin-whatWork">
                              <h2>Our Solutions</h2>
                              <p>We a Technologies IT Professional Solutions utilizes its vast domain knowledge and in-depth technological expertise in offering IT Solutions to diverse industries worldwide. We provide a mix of Onshore and Offshore consulting services, System integrations, Web Application development, Mobile App development etc to provide reinforcement which accomplishes your requirement.</p>
                          </div>
                      </div>
                      <!-- /.End Of Single Work -->

                      <!-- Single Work -->
                      <div class="col-sm-12">
                          <div class="sin-whatWork">
                              <h2>Quality</h2>
                              <p>Our commitment to Quality policy reflects our vision, Quality services, Technological expertise, and our assurance towards designing and developing Quality IT Solutions which can quickly adapt to the changes and enhancements in technical environment.</p>
                              <ul><b>
                                <li><i class="fa fa-angle-right"></i> Following Strict Code of Conduct and ensuring to follow established guidelines</li>
                                <li><i class="fa fa-angle-right"></i> Maintaining highest level to minimize errors</li>
                                <li><i class="fa fa-angle-right"></i> Provide training, motivation and create a potential leader in every team.</li>
                                <li><i class="fa fa-angle-right"></i> Taking care of employees health and well-being through wellness and work life balance program</li>
                                <li><i class="fa fa-angle-right"></i> To Innovate and discover best possible methods, provide solutions that fulfill your requirement</li>
                              </ul>
                          </div>
                      </div>
                      <!-- /.End Of Single Work -->

                      <!-- Single Work -->
                      <!-- <div class="col-sm-4">
                          <div class="sin-whatWork">
                              <h2>Our goal</h2>
                              <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum.</p>
                          </div>
                      </div> -->
                      <!-- /.End Of Single Work -->

                  </div>
              <!-- </div> -->
          </div>
      </div>
  </section>
  <!-- /.End Of About Us Area -->

  <!-- Facts Area
        =========================== -->
    <section class="facts-area section-padding overlay fix" style="background-image:url(img/facts-bg.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="facts-headding">
                        <h2><strong>Simplicity</strong> is the best design</h2>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <div class="fact-quote">
                        <blockquote>
                            Our success statistics
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="facts-wrap fix">

                        <!-- Single Fact -->
                        <div class="sin-fact">
                            <span class="counter">125</span>
                            <h2 class="count-badge">satisfied clients</h2>
                        </div>
                        <!-- /. End Of Single Fact -->

                        <!-- Single Fact -->
                        <div class="sin-fact">
                            <span class="counter">368</span>
                            <h2 class="count-badge">completed projects</h2>
                        </div>
                        <!-- /. End Of Single Fact -->

                        <!-- Single Fact -->
                        <div class="sin-fact">
                            <span class="counter">14</span>
                            <h2 class="count-badge">expert workers</h2>
                        </div>
                        <!-- /. End Of Single Fact -->

                        <!-- Single Fact -->
                        <div class="sin-fact">
                            <span class="counter">100</span><span>%</span>
                            <h2 class="count-badge">satisfiction rate</h2>
                        </div>
                        <!-- /. End Of Single Fact -->

                        <!-- Single Fact -->
                        <div class="sin-fact">
                            <span class="counter">2500</span><span>+</span>
                            <h2 class="count-badge">hours of work</h2>
                        </div>
                        <!-- /. End Of Single Fact -->

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.End Of Facts Area -->

    <!-- What We Area
      =========================== -->
  <section class="works-area section-padding">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="section-title text-center">
                      <h2>Solutions</h2>
                  </div>
              </div>
          </div>
          <div class="row">

              <!-- Single Work -->
              <div class="col-md-4 col-sm-6">
                  <div class="single-work">
                      <a class="work-thumb mb-35" href="#/solutions-1">
                          <img src="img/solutions/automotive.jpg" alt="">
                          <div class="work-hover"></div>
                      </a>
                      <div class="work-excerp">
                          <a href="#/solutions-1"><h2>Automotive</h2></a>
                          <!-- <p>Duis autem vel eum iriure dolor in hendrerit in vulpu tate velit esse molestie consequat.</p> -->
                      </div>
                  </div>
              </div>
              <!-- /. End Of Single Work -->

              <!-- Single Work -->
              <div class="col-md-4 col-sm-6">
                  <div class="single-work">
                      <a class="work-thumb mb-35" href="#/solutions-2">
                          <img src="img/solutions/health.jpg" alt="">
                          <div class="work-hover"></div>
                      </a>
                      <div class="work-excerp">
                          <a href="#/solutions-2"><h2>HealthCare</h2></a>
                          <!-- <p>Duis autem vel eum iriure dolor in hendrerit in vulpu tate velit esse molestie consequat.</p> -->
                      </div>
                  </div>
              </div>
              <!-- /. End Of Single Work -->

              <!-- Single Work -->
              <div class="col-md-4 col-sm-6">
                  <div class="single-work">
                      <a class="work-thumb mb-35" href="#/solutions-3">
                          <img src="img/solutions/travel.jpg" alt="">
                          <div class="work-hover"></div>
                      </a>
                      <div class="work-excerp">
                          <a href="#/solutions-3"><h2>Travel</h2></a>
                          <!-- <p>Duis autem vel eum iriure dolor in hendrerit in vulpu tate velit esse molestie consequat.</p> -->
                      </div>
                  </div>
              </div>
              <!-- /. End Of Single Work -->

              <!-- Single Work -->
              <div class="col-md-4 col-sm-6">
                  <div class="single-work">
                      <a class="work-thumb mb-35" href="#/solutions-4">
                          <img src="img/solutions/retail.jpg" alt="">
                          <div class="work-hover"></div>
                      </a>
                      <div class="work-excerp">
                          <a href="#/solutions-4"><h2>Retail</h2></a>
                          <!-- <p>Duis autem vel eum iriure dolor in hendrerit in vulpu tate velit esse molestie consequat.</p> -->
                      </div>
                  </div>
              </div>
              <!-- /. End Of Single Work -->

              <!-- Single Work -->

              <!-- /. End Of Single Work -->

              <!-- Single Work -->
              <div class="col-md-4 col-sm-6">
                  <div class="single-work">
                      <a class="work-thumb mb-35" href="#/solutions-5">
                          <img src="img/solutions/banking.jpg" alt="">
                          <div class="work-hover"></div>
                      </a>
                      <div class="work-excerp">
                          <a href="#/solutions-5"><h2>Industry Automation & Production Management</h2></a>
                          <!-- <p>Duis autem vel eum iriure dolor in hendrerit in vulpu tate velit esse molestie consequat.</p> -->
                      </div>
                  </div>
              </div>
              <!-- /. End Of Single Work -->

              <!-- Single Work -->
              <!-- <div class="col-md-4 col-sm-6">
                  <div class="single-work">
                      <a class="work-thumb mb-35" href="single-solutions-7.html">
                          <img src="img/solutions/retail.jpg" alt="">
                          <div class="work-hover"></div>
                      </a>
                      <div class="work-excerp">
                          <a href="single-solutions-7.html"><h2>Retail</h2></a>
                          <p>Duis autem vel eum iriure dolor in hendrerit in vulpu tate velit esse molestie consequat.</p>
                      </div>
                  </div>
              </div> -->
              <!-- /. End Of Single Work -->
          </div>
      </div>
  </section>
  <!-- /.End Of What We Do Area -->
