<!-- Page Title Area
    =========================== -->
  <section class="page-title fix">
      <div class="container bb-bottom">
          <div class="row">
              <div class="col-md-12">
                  <div class="page-title-content">
                      <h2 class="page-title">Business Consulting</h2>
                      <!-- <span class="sub-title">know more about web design</span> -->
                  </div>
                  <div class="bread-cumb">
                      <ul>
                          <li><a href="#">Home</a></li>
                          <li><a href="#">Services</a></li>
                      </ul>
                  </div>
                  <!-- /.END OF BREAD CUMB -->
              </div>
          </div>
      </div>
  </section>
  <!-- End Of Page Title Area -->

  <!-- Page Internal Content -->
  <div class="page-internal-content">
      <div class="container">
          <div class="row">
              <div ng-include='"templates/sidebar-ser.html"'></div>

              <!-- Content Section -->
              <div class="col-md-9 main-content">
                  <div class="row">
                      <div class="col-md-6">
                          <!-- Single Service Post -->
                          <div class="sin-service-post">
                              <!-- <h3 class="service-post-title">What is Web Design?</h3> -->
                              <p>We offer  Business Management Consulting Services dedicated Consulting and Staff Augmentation services to small, medium and large companies creating a door way to hire fresh, qualified, enthusiastic, highly talented and experienced professionals Cloud Computing</p>
                              <p>
                                Our Cloud computing services provide a highly resilient environment which enables on-demand infrastructure capabilities over the internet to scalable computing resources (networks, servers, storage, applications, and services)
                              </p>
                          </div>
                          <!-- /.End Of Single Service Post -->

                      </div>

                      <div class="col-md-6">
                          <div class="faq-thumb">
                                <img src="img/services/img-06.jpg" alt="">
                          </div>
                      </div>

                  </div>


              </div>
              <!-- /.End Of Content Section -->
          </div>
      </div>
  </div>
  <!-- /.End Of Page Internal Content -->
