<!-- Page Title Area
    =========================== -->
  <section class="page-title fix">
      <div class="container bb-bottom">
          <div class="row">
              <div class="col-md-12">
                  <div class="page-title-content">
                      <h2 class="page-title">HealthCare</h2>
                      <!-- <span class="sub-title">know more about web design</span> -->
                  </div>
                  <div class="bread-cumb">
                      <ul>
                          <li><a href="#">Home</a></li>
                          <li><a href="#">Solutions</a></li>
                      </ul>
                  </div>
                  <!-- /.END OF BREAD CUMB -->
              </div>
          </div>
      </div>
  </section>
  <!-- End Of Page Title Area -->

  <!-- Page Internal Content -->
  <div class="page-internal-content">
      <div class="container">
          <div class="row">
              <!-- Sidebar -->
              <aside class="col-md-3 sidebar">
                  <!-- Widget -->
                  <div class="widget">
                      <ul class="widget_links">
                          <li><a href="#/solutions-1"><i class="fa fa-angle-right"></i> Automotive</a></li>
                          <li><a href="#/solutions-2"><i class="fa fa-angle-right"></i> HealthCare</a></li>
                          <li><a href="#/solutions-3"><i class="fa fa-angle-right"></i> Travel</a></li>
                          <li><a href="#/solutions-4"><i class="fa fa-angle-right"></i> Retail</a></li>
                          <li><a href="#/solutions-5"><i class="fa fa-angle-right"></i> Industry Automation & Production Management </a></li>
                          <!-- <li><a href="#"><i class="fa fa-angle-right"></i> 3D Design</a></li> -->
                      </ul>
                  </div>
                  <!-- /.End Of Widget -->

                  <!-- Widget -->

                  <!-- /.End Of Widget -->
              </aside>
              <!-- /.End Of Sidebar -->

              <!-- Content Section -->
              <div class="col-md-9 main-content">
                  <div class="row">
                      <div class="col-md-6">

                          <div class="sin-service-post">
                              <p>Our HealthCare Management Services provide Onshore and Offshore assistance to large and medium size Organizations including Individual practitioners, improves efficiency and Quality of Medical facilities delivered in Hospitals.
                                  Our HealthCare Solutions are collaboratively developed by experts, specialists in Information Technology and our existing Key customers.</p>

                          </div>


                      </div>

                      <!-- <div class="col-md-6">

                          <div class="sin-service-post">
                              <img src="img/service-thumb.jpg" alt="">
                          </div>

                      </div> -->

                      <div class="col-md-6">
                          <div class="faq-thumb">
                              <img src="img/solutions/health.jpg" alt="">
                          </div>
                      </div>

                  </div>

                  <div class="row">
                      <div class="col-md-12">
                          <!-- Single Service Post -->
                          <div class="sin-service-post">
                            <p>Our HealthCare Management solutions are designed to enhance safety and efficiency of operational performance at all levels of HealthCare process, ensuring you to provide Quality service which improves safety of the patient,
                                connecting patients to Doctor, minimize risk of Human errors in lab, reduce accidental deaths, periodic alerts about shortage of nurses, increase in productivity by serving Maximum number of patients and at the same
                                time improving quality of service provided.
                            </p>
                              <h3 class="service-post-title">Hospital Management System (HMS) contains the Key Functional Areas which include:</h3>


                              <p>
                                  We provide Dealer Management Solutions which build sustained relationship with clients, provide Automotive IT Applications possessing:</p>
                              <ul>
                                  <li><i class="fa fa-angle-right"></i> In/Out patient Management</li>
                                  <li><i class="fa fa-angle-right"></i> Patient Billing & Help desk</li>
                                  <li><i class="fa fa-angle-right"></i> Facilities and Hospitality management</li>
                                  <li><i class="fa fa-angle-right"></i> Case sheet management</li>
                                  <li><i class="fa fa-angle-right"></i> Appointment and scheduling, Staff Scheduling</li>
                                  <li><i class="fa fa-angle-right"></i> Emergency, Operation theater management</li>
                                  <li><i class="fa fa-angle-right"></i> Attendance recording devices, Biometric/ Smart cards, Barcode & RFID</li>
                                  <li><i class="fa fa-angle-right"></i> Patient Monitoring System</li>
                                  <li><i class="fa fa-angle-right"></i> Laboratory & Blood Bank Management</li>
                                  <li><i class="fa fa-angle-right"></i> Pharmacy Department and stores</li>
                                  <li><i class="fa fa-angle-right"></i> Nursing ward, Housekeeping, Laundry, Diet & Kitchen</li>
                                  <li><i class="fa fa-angle-right"></i> Hospital Security and Admission</li>
                                  <li><i class="fa fa-angle-right"></i> General ledger, Accounts, Payroll, Hospital finances</li>
                                  <li><i class="fa fa-angle-right"></i> Fixed assets and Material management</li>
                              </ul>
                              <br>
                              <p>
                                  Our Automotive IT Solutions show you how we can improve your business with our Innovative and secured Automotive Solutions, enhance enterprise performance, speedup time to market, reduce operating costs and improve profitability. We extend help towards
                                  automotive manufacturers, suppliers, retail networks to deliver shareholder value and achieve Operational Excellence.
                              </p>
                          </div>
                          <!-- /.End Of Single Service Post -->
                      </div>

                      <!-- <div class="col-md-6">

                          <div class="sin-service-post">
                              <h3 class="service-post-title">Customer Support</h3>
                              <p>Duis autem vel eum iriure dolor in hendrerit in vulput ate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
                                  delenit augue duis dolore te.</p>
                          </div>

                      </div> -->
                  </div>

                  <div class="row">
                      <div class="col-md-12">

                          <h3 class="service-post-title">HealthCare Management Application Benefits </h3>
                          <!-- <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim plac erat facer possim assum. Typi non habent claritate insitam; est usus legentis in iis.</p> -->

                          <ul>
                              <li><i class="fa fa-angle-right"></i> Precise identification of patient and validation of treatment/ Surgery/ Therapy</li>
                              <li><i class="fa fa-angle-right"></i> Discard Human (nurses/Doctors) errors made in Medication, admin, Blood transfusion</li>
                              <li><i class="fa fa-angle-right"></i> Reduction of errors in patient billing</li>
                              <li><i class="fa fa-angle-right"></i> Maintain Entire Track record of the current treatment of patient, and previous medical record</li>
                              <li><i class="fa fa-angle-right"></i> Accurate Specimen Collection, Storage and Identification</li>
                              <li><i class="fa fa-angle-right"></i> Keeping a track of Hospital Assets</li>
                              <li><i class="fa fa-angle-right"></i> Integrated management system keeps complete track of Hospital information and Management</li>
                              <li><i class="fa fa-angle-right"></i> Improve Quality of care and service, develop relation between Doctor and patient</li>
                              <li><i class="fa fa-angle-right"></i> Enhance Operational Efficiencies and control regulating costs</li>
                              <li><i class="fa fa-angle-right"></i> Latest Technology Integration</li>
                          </ul>
                      </div>
                  </div>

                  <!-- <div class="row">
                      <div class="col-md-6">
                          <div class="faq-section">
                              <h3 class="service-post-title">Frequently Asked Question</h3>
                              <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming.</p>

                              <div class="faqs">
                                  <dl class="accordion">
                                      <dt class="active">How can I start a project?</dt>
                                      <dd>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum form as humanitatis per seacula quarta decima.</dd>
                                      <dt>How many days it may take to finish?</dt>
                                      <dd>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum form as humanitatis per seacula quarta decima.</dd>
                                      <dt>How can I make Payment?</dt>
                                      <dd>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum form as humanitatis per seacula quarta decima.</dd>
                                  </dl>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="faq-thumb">
                              <img src="img/faq-thumb.jpg" alt="">
                          </div>
                      </div>
                  </div> -->
              </div>
              <!-- /.End Of Content Section -->
          </div>
      </div>
  </div>
  <!-- /.End Of Page Internal Content -->
