<!-- Page Title Area
      =========================== -->
    <section class="page-title fix">
        <div class="container bb-bottom">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title-content">
                        <h2 class="page-title">Travel</h2>
                        <!-- <span class="sub-title">know more about web design</span> -->
                    </div>
                    <div class="bread-cumb">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Solutions</a></li>
                        </ul>
                    </div>
                    <!-- /.END OF BREAD CUMB -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Of Page Title Area -->

    <!-- Page Internal Content -->
    <div class="page-internal-content">
        <div class="container">
            <div class="row">
                <!-- Sidebar -->
                <aside class="col-md-3 sidebar">
                    <!-- Widget -->
                    <div class="widget">
                        <ul class="widget_links">
                            <li><a href="#/solutions-1"><i class="fa fa-angle-right"></i> Automotive</a></li>
                            <li><a href="#/solutions-2"><i class="fa fa-angle-right"></i> HealthCare</a></li>
                            <li><a href="#/solutions-3"><i class="fa fa-angle-right"></i> Travel</a></li>
                            <li><a href="#/solutions-4"><i class="fa fa-angle-right"></i> Retail</a></li>
                            <li><a href="#/solutions-5"><i class="fa fa-angle-right"></i> Industry Automation & Production Management </a></li>
                            <!-- <li><a href="#"><i class="fa fa-angle-right"></i> 3D Design</a></li> -->
                        </ul>
                    </div>
                    <!-- /.End Of Widget -->

                    <!-- Widget -->

                    <!-- /.End Of Widget -->
                </aside>
                <!-- /.End Of Sidebar -->

                <!-- Content Section -->
                <div class="col-md-9 main-content">
                    <div class="row">
                        <div class="col-md-6">

                            <div class="sin-service-post">
                              <p>We are committed to the travel business by applying technology at the forefront of Customer Experience. We with a focused approach towards the pertinent business processes in the industry, we look at partnering with our clients to achieve optimum value from technological investments. We aim to maximize ROI by mapping processes to applications, infrastructure and databases, thereby eliminating redundancies and cost overrun.</p>

                            </div>


                        </div>

                        <!-- <div class="col-md-6">

                            <div class="sin-service-post">
                                <img src="img/service-thumb.jpg" alt="">
                            </div>

                        </div> -->

                        <div class="col-md-6">
                            <div class="faq-thumb">
                                <img src="img/solutions/travel.jpg" alt="">
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <!-- Single Service Post -->
                            <div class="sin-service-post">
                                <!-- <h3 class="service-post-title">Automotive</h3> -->


                                  <p>We are committed to the travel business by applying technology at the forefront of Customer Experience. We with a focused approach towards the pertinent business processes in the industry, we look at partnering with our clients to achieve optimum value from technological investments. We aim to maximize ROI by mapping processes to applications, infrastructure and databases, thereby eliminating redundancies and cost overrun.
                                  </p>
                            </div>
                            <!-- /.End Of Single Service Post -->
                        </div>

                        <!-- <div class="col-md-6">

                            <div class="sin-service-post">
                                <h3 class="service-post-title">Customer Support</h3>
                                <p>Duis autem vel eum iriure dolor in hendrerit in vulput ate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
                                    delenit augue duis dolore te.</p>
                            </div>

                        </div> -->
                    </div>

                    <!-- <div class="row">
                        <div class="col-md-12">
                            <div class="services-ask">
                                <h3 class="service-post-title">What we do in Web Design?</h3>
                                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim plac erat facer possim assum. Typi non habent claritate insitam; est usus legentis in iis.</p>
                            </div>
                            <ul class="degins">
                                <li>Web
                                    <br> Design</li>
                                <li>Logo
                                    <br> Design</li>
                                <li>Brand
                                    <br> identity</li>
                                <li>App
                                    <br> Design</li>
                                <li>Flyer
                                    <br> Design</li>
                            </ul>
                        </div>
                    </div> -->

                    <!-- <div class="row">
                        <div class="col-md-6">
                            <div class="faq-section">
                                <h3 class="service-post-title">Frequently Asked Question</h3>
                                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming.</p>

                                <div class="faqs">
                                    <dl class="accordion">
                                        <dt class="active">How can I start a project?</dt>
                                        <dd>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum form as humanitatis per seacula quarta decima.</dd>
                                        <dt>How many days it may take to finish?</dt>
                                        <dd>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum form as humanitatis per seacula quarta decima.</dd>
                                        <dt>How can I make Payment?</dt>
                                        <dd>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum form as humanitatis per seacula quarta decima.</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="faq-thumb">
                                <img src="img/faq-thumb.jpg" alt="">
                            </div>
                        </div>
                    </div> -->
                </div>
                <!-- /.End Of Content Section -->
            </div>
        </div>
    </div>
    <!-- /.End Of Page Internal Content -->
