<!-- Page Title Area
      =========================== -->
    <section class="page-title fix">
        <div class="container bb-bottom">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title-content">
                        <h2 class="page-title">Automotive</h2>
                        <!-- <span class="sub-title">know more about web design</span> -->
                    </div>
                    <div class="bread-cumb">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Solutions</a></li>
                        </ul>
                    </div>
                    <!-- /.END OF BREAD CUMB -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Of Page Title Area -->

    <!-- Page Internal Content -->
    <div class="page-internal-content">
        <div class="container">
            <div class="row">
                <!-- Sidebar -->
                <aside class="col-md-3 sidebar">
                    <!-- Widget -->
                    <div class="widget">
                        <ul class="widget_links">
                            <li><a href="#/solutions-1"><i class="fa fa-angle-right"></i> Automotive</a></li>
                            <li><a href="#/solutions-2"><i class="fa fa-angle-right"></i> HealthCare</a></li>
                            <li><a href="#/solutions-3"><i class="fa fa-angle-right"></i> Travel</a></li>
                            <li><a href="#/solutions-4"><i class="fa fa-angle-right"></i> Retail</a></li>
                            <li><a href="#/solutions-5"><i class="fa fa-angle-right"></i> Industry Automation & Production Management </a></li>
                            <!-- <li><a href="#"><i class="fa fa-angle-right"></i> 3D Design</a></li> -->
                        </ul>
                    </div>
                    <!-- /.End Of Widget -->

                    <!-- Widget -->

                    <!-- /.End Of Widget -->
                </aside>
                <!-- /.End Of Sidebar -->

                <!-- Content Section -->
                <div class="col-md-9 main-content">
                    <div class="row">
                        <div class="col-md-6">

                            <div class="sin-service-post">
                              <p>Our IT Solutions envelop supply chain operations, customer connections and support operations. Our Automotive IT Applications are comprehensive, practical and we make sure that you need not incur high costs to meet your
                                  business needs.</p>
                                  <p>Our IT Solutions is here to find new ways, improve business strategies, enhance enterprise performance, speedup time to reach market, reduce costs and generate profits with our Quality Automotive products which move beyond
                                      conventional ERP Solutions.
                                  </p>
                            </div>


                        </div>

                        <!-- <div class="col-md-6">

                            <div class="sin-service-post">
                                <img src="img/service-thumb.jpg" alt="">
                            </div>

                        </div> -->

                        <div class="col-md-6">
                            <div class="faq-thumb">
                                <img src="img/solutions/automotive.jpg" alt="">
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <!-- Single Service Post -->
                            <div class="sin-service-post">
                                <!-- <h3 class="service-post-title">Automotive</h3> -->


                                <p>
                                  We provide Dealer Management Solutions which build sustained relationship with clients, provide Automotive IT Applications possessing:</p>
                                  <ul>
                                    <li><i class="fa fa-angle-right"></i> A broad-base to dealer network and increase revenues, reduce product development costs thus improve profitability.</li>
                                    <li><i class="fa fa-angle-right"></i> Enables you to expand and effectively drive through any market world wide</li>
                                    <li><i class="fa fa-angle-right"></i> Escalates your sales of products by introducing efficient CRM modules</li>
                                    <li><i class="fa fa-angle-right"></i> Integrates with new OEM systems to increase sales for dealers, enhancing quality of customer service</li>
                                    <li><i class="fa fa-angle-right"></i> We Provide Software Solutions in Automotive industry with Quality and uninterrupted services with  flexibility to adjust to market changes without additional costs</li>
                                  </ul>

                                <p>
                                  Our  Automotive IT Solutions show you how we can improve your business with our Innovative and secured Automotive Solutions, enhance enterprise performance, speedup time to market, reduce operating costs and improve profitability. We extend help towards automotive manufacturers, suppliers, retail networks to deliver shareholder value and achieve Operational Excellence.
                                </p>
                            </div>
                            <!-- /.End Of Single Service Post -->
                        </div>

                        <!-- <div class="col-md-6">

                            <div class="sin-service-post">
                                <h3 class="service-post-title">Customer Support</h3>
                                <p>Duis autem vel eum iriure dolor in hendrerit in vulput ate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
                                    delenit augue duis dolore te.</p>
                            </div>

                        </div> -->
                    </div>

                    <!-- <div class="row">
                        <div class="col-md-12">
                            <div class="services-ask">
                                <h3 class="service-post-title">What we do in Web Design?</h3>
                                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim plac erat facer possim assum. Typi non habent claritate insitam; est usus legentis in iis.</p>
                            </div>
                            <ul class="degins">
                                <li>Web
                                    <br> Design</li>
                                <li>Logo
                                    <br> Design</li>
                                <li>Brand
                                    <br> identity</li>
                                <li>App
                                    <br> Design</li>
                                <li>Flyer
                                    <br> Design</li>
                            </ul>
                        </div>
                    </div> -->

                    <!-- <div class="row">
                        <div class="col-md-6">
                            <div class="faq-section">
                                <h3 class="service-post-title">Frequently Asked Question</h3>
                                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming.</p>

                                <div class="faqs">
                                    <dl class="accordion">
                                        <dt class="active">How can I start a project?</dt>
                                        <dd>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum form as humanitatis per seacula quarta decima.</dd>
                                        <dt>How many days it may take to finish?</dt>
                                        <dd>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum form as humanitatis per seacula quarta decima.</dd>
                                        <dt>How can I make Payment?</dt>
                                        <dd>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum form as humanitatis per seacula quarta decima.</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="faq-thumb">
                                <img src="img/faq-thumb.jpg" alt="">
                            </div>
                        </div>
                    </div> -->
                </div>
                <!-- /.End Of Content Section -->
            </div>
        </div>
    </div>
    <!-- /.End Of Page Internal Content -->
