<!-- Footer Area
      =========================== -->
      <footer id="footer-area">
          <div class="footer-top section-padding">
              <div class="container">
                  <div class="row">
                      <div class="col-md-3 col-sm-6 col-xs-12">
                          <div class="widget widget_text">
                              <div class="footer-logo">
                                  <img src="img/logo-2.png" alt="">
                              </div>
                              <p>
                                Our Software Solutions are built on proven methodologies which not just lives up but exceed client’s expectations. Our Prime Mission is to become a valuable contributor to your business by efficiently offering you reliable, superior and tailored software solutions at a cost-effective price.
                              </p>
                          </div>
                      </div>
                      <!-- <div class="col-md-3 col-sm-6 col-xs-12">
                          <div class="widget widget_links fix">
                              <h3 class="widget-title">Important Links</h3>
                              <ul class="site_map_links">
                                  <li><a href="#">Legal Notice</a></li>
                                  <li><a href="#">Sitemap</a></li>
                                  <li><a href="#">Payment Method</a></li>
                                  <li><a href="#">Support</a></li>
                              </ul>
                              <ul class="page-links">
                                  <li><a href="#">About</a></li>
                                  <li><a href="#">News</a></li>
                                  <li><a href="#">Solutions</a></li>
                                  <li><a href="#">Services</a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12">
                          <div class="widget">
                              <h3 class="widget-title">Contact Us</h3>
                              <p>Euis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat.</p>
                              <a href="#" class="button contact-btn">CONTACT US</a>
                          </div>
                      </div> -->

                      <div class="col-sm-9 hidden-xs">
                          <div class="head-top-right fix">

                              <div class="sin-info fix">
                                  <div class="info-icon">
                                      <i class="icofont icofont-social-google-map"></i>
                                  </div>
                                  <div class="info-content">
                                      <span>55 Water Street<br>
                             New York, NY-10041</span>
                                  </div>
                              </div>
                              <!-- /.End Of Seven -->

                              <div class="sin-info fix">
                                  <div class="info-icon">
                                      <i class="icofont icofont-clock-time"></i>
                                  </div>
                                  <div class="info-content">
                                      <span>9am - 5pm <br> Mon - Fri</span>
                                  </div>
                              </div>
                              <!-- /.End Of Seven -->

                              <div class="sin-info border-none fix">
                                  <div class="info-icon">
                                      <i class="icofont icofont-contacts"></i>
                                  </div>
                                  <div class="info-content">
                                      <a href="mailto:support@theladdersinc.net">support@theladdersinc.net</a>
                                      <a href="tel:+1 551 268 7570">+1 551 268 7570</a>
                                  </div>
                              </div>
                              <!-- /.End Of Seven -->

                              <!-- /.End Of Seven -->

                          </div>
                      </div>
                      <!-- <div class="col-md-3 col-sm-6 col-xs-12">
                          <div class="widget">
                              <h3 class="widget-title">Newsletter Subscription</h3>
                              <div class="widget">
                                  <div class="footer-newsletter">
                                      <div class="input-email">
                                          <input type="email" placeholder="Enter your email address" name="email" id="email">
                                          <i class="icofont icofont-send-mail"></i>
                                      </div>
                                      <input type="submit" value="Subscribe Now">
                                  </div>
                              </div>
                          </div>
                      </div> -->
                  </div>
              </div>
          </div>
          <div class="footer-bottom fix">
              <div class="container bb-top foo-padding">
                  <div class="row">
                      <div class="col-sm-6 copyright">
                          <span>&copy; 2017 Copyright, The Ladders Inc</span>
                      </div>
                      <div class="col-sm-6 text-right">
                          <div class="social-links">
                              <ul>
                                  <li><a href="">Facebook</a></li>
                                  <li><a href="">twitter</a></li>
                                  <li><a href="">google+</a></li>
                                  <li><a href="">Pinterest</a></li>
                                  <li><a href="">linkedin</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </footer>
  <!-- /.End Of Footer Area -->
