<header class="header-area">
  <div class="head-top-area">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="logo">
            <a href="/"><img src="img/logo-bh.png" alt=""></a>
          </div>
          <!-- /.End Of Logo -->
        </div>

      </div>
    </div>
  </div>
  <!-- End Of Top Head -->
  <div class="head-bottom-area">
    <div class="container">
      <div class="row">
        <div class="mainmenu-area">
          <nav class="navigation-menus">
            <ul class="mobile-menu nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="#/about">About Us</a></li>

              <li><a href="#/solutions">Solutions <i class="hover-ind fa fa-caret-down" aria-hidden="true"></i></a>
                <ul class="sub-menu">
                  <li><a href="#/solutions-1">Automotive</a></li>
                  <li><a href="#/solutions-2">HealthCare</a></li>
                  <li><a href="#/solutions-3">Travel</a></li>
                  <li><a href="#/solutions-4">Retail</a></li>
                  <li><a href="#/solutions-5">Industry Automation & Production Management</a></li>
                  <!-- <li><a href="#/solutions-5">Retail</a></li> -->
                  <!-- <li><a href="single-solutions-6.html">Banking</a></li> -->
                  <!-- <li><a href="single-solutions-7.html">Infrastructure</a></li> -->
                </ul>
              </li>

              <li class="dropdown-trigger"><a href="#/services">Services <i class="hover-ind fa fa-caret-down" aria-hidden="true"></i></a>
                <ul class="sub-menu">

                  <li><a href="#/services-1">System Integration</a></li>
                  <li><a href="#/services-2">Application Development</a></li>
                  <li><a href="#/services-3">System and Software Maintenance & Support</a></li>
                  <li><a href="#/services-4">QA & Testing</a></li>
                  <li><a href="#/services-5">Digital Marketing</a></li>
                  <li><a href="#/services-6">Business Consulting</a></li>
                  <li><a href="#/services-7">Outsourcing</a></li>
                </ul>
              </li>


              <!-- <li><a href="price.html">Price</a></li>
                              <li><a href="news.html">News <i class="hover-ind fa fa-caret-down" aria-hidden="true"></i></a>
                                  <ul class="sub-menu">
                                      <li><a href="news.html">News 3 column Left Sidebar</a></li>
                                      <li><a href="news-v2.html">News 3 column Right Sidebar</a></li>
                                      <li><a href="news-v3.html">News 2 column</a></li>
                                      <li><a href="single-news.html">Single News Right Sidebar</a></li>
                                      <li><a href="single-news-v2.html">Single News Left Sidebar</a></li>
                                  </ul>
                              </li> -->
              <!-- <li><a href="contact.html">Pages  <i class="hover-ind fa fa-caret-down" aria-hidden="true"></i></a>
                                  <ul class="sub-menu">
                                      <li><a href="testimonial.html">Testimonials</a></li>
                                      <li><a href="quote.html">Get A Quote</a></li>
                                      <li><a href="404.html">404 Page</a></li>
                                  </ul>
                              </li> -->
              <li><a href="#/career">Careers</a></li>
              <li><a href="#/contact">Contact</a></li>

            </ul>
          </nav>

        </div>
      </div>
    </div>
  </div>
  <!-- End Of Bottom Head -->
</header>
<!-- /.End Of Header -->
