<!-- Sidebar -->
<aside class="col-md-3 sidebar">
    <!-- Widget -->
    <div class="widget">
        <ul class="widget_links">
            <li><a href="#/services-1"><i class="fa fa-angle-right"></i> System Integration</a></li>
            <li><a href="#/services-2"><i class="fa fa-angle-right"></i> Application Development</a></li>
            <li><a href="#/services-3"><i class="fa fa-angle-right"></i> System and Software Maintenance & Support</a></li>
            <li><a href="#/services-4"><i class="fa fa-angle-right"></i> QA & Testing</a></li>
            <li><a href="#/services-5"><i class="fa fa-angle-right"></i> Digital Marketing</a></li>
            <li><a href="#/services-6"><i class="fa fa-angle-right"></i> Business Consulting</a></li>
            <li><a href="#/services-7"><i class="fa fa-angle-right"></i> Outsourcing</a></li>

        </ul>
    </div>
    <!-- /.End Of Widget -->


</aside>
