<!-- Sidebar -->
<aside class="col-md-3 sidebar">
    <!-- Widget -->
    <div class="widget">
        <ul class="widget_links">
            <li><a href="#/solutions-1"><i class="fa fa-angle-right"></i> Automotive</a></li>
            <li><a href="#/solutions-2"><i class="fa fa-angle-right"></i> HealthCare</a></li>
            <li><a href="#/solutions-3"><i class="fa fa-angle-right"></i> Travel</a></li>
            <li><a href="#/solutions-4"><i class="fa fa-angle-right"></i> Retail</a></li>
            <li><a href="#/solutions-5"><i class="fa fa-angle-right"></i> Industry Automation & Production Management </a></li>
            <!-- <li><a href="#"><i class="fa fa-angle-right"></i> 3D Design</a></li> -->
        </ul>
    </div>
    <!-- /.End Of Widget -->

    <!-- Widget -->

    <!-- /.End Of Widget -->
</aside>
